pandas
streamlit
plotly
openpyxl
watchdog
schedule
notebook
selenium
webdriver-manager
pytz
requests
python-dotenv
GitPython
# mysqlclient
# st-gsheets-connection
# SQLAlchemy
# mysql-connector-python